@import "tailwindcss";

@theme inline {
  --color-base-dark: #011819;
  --color-base-beige: #E1DED1;
  --color-brand-teal: #074A4C;
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-base-dark);
  color: var(--color-base-beige);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes borderTrace {
  0% {
    offset-distance: 0%;
  }

  100% {
    offset-distance: 100%;
  }
}